language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: 5.4
    - php: nightly

before_install:
  - composer self-update

install:
  - composer install

script:
  - vendor/bin/phpcs src --standard=PSR2
  - vendor/bin/phpspec run --format=pretty
